:root {
  --appBackground: #0b0c10;
  --secondaryColor: #1f2833;
  --textColor: #c5c6c7;
  --boldColor: #66fcf1;
  --accentColor: #45a29e;
}
#root {
  background-color: var(--appBackground);
  min-height: 100vh;
  height: 100%;
  color: var(--textColor);
  font-size: 28px;
}

nav {
  background-color: var(--appBackground);
  color: var(--boldColor) !important;
}

nav > * {
  color: var(--boldColor) !important;
}

.nav-link {
  color: var(--boldColor) !important;
}

h5 {
  color: var(--boldColor);
}

.indCards {
  background-color: var(--secondaryColor);
  border-color: var(--accentColor);
  color: var(--textColor)
}

.main-content {
  background: var(--appBackground);
  /* min-height: 100vh; */
  height: 100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  z-index: 0 !important;
}

.particles {
  position: absolute !important;
  z-index: 0 !important;
  width: 100%;
  height: 100%;
}

.parts {
  width: 100%;

  height: 100%;

  position: fixed;

  

  /* background-image: ; */

  background-size: cover;

  background-position: 50% 50%;

  background-repeat: no-repeat;

  z-index: 0;
}
.container > * {
  z-index: 1;
}

.btn {
  z-index: 1 !important;
  background-color: var(--accentColor) !important;
}

.border {
  border-color: var(--appBackground) !important;
}

.brand {
  font-size: 36px !important;
}

h2 {
  color: var(--boldColor) !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: var(--accentColor) !important;
}