:root {
  --appBackground: #0b0c10;
  --secondaryColor: #1f2833;
  --textColor: #c5c6c7;
  --boldColor: #66fcf1;
  --accentColor: #45a29e;
}

nav {
  background-color: var(--secondaryColor) !important;
  /* opacity: .2; */
}

#root {
  background-color: var(--appBackground);
  min-height: 100vh;
  color: var(--textColor);
}

h5 {
  color: var(--boldColor);
}

.indCards {
  background-color: var(--secondaryColor);
  border-color: var(--accentColor);
}

.container {
  margin-top: 20px;
}